.header {
  display        : flex;
  justify-content: space-between;
  padding        : 20px 0;

  .navbar {
    list-style: none;

    &-menu-item {
      display     : inline-block;
      margin-right: 20px;
      cursor      : pointer;
      transition  : all .3s;
      color       : @colors[black];

      &:hover {
        color: @colors[dark-green];
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    padding: 10px 0;
    .logo {
      max-width: 60px;
    }
    .navbar {
      display: none !important;
    }
  }
}